.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.swiper {
  padding-bottom: 40px;
}

.blog-post-item {
  height: 100%;
}

.blog-slider-one {
  cursor: grab;
}

.blog-slider-one:active {
  cursor: grabbing;
}


.blog-slider-one .swiper-wrapper {
  display: flex !important;
  flex-direction: row !important;
}

.blog-slider-one .swiper-slide {
  height: auto;
}


.logo {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


/* Tablet */
@media (max-width: 768px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .logo {
    width: 40px;
    height: 40px;
  }
}


/* Card */
.news-card {
  background: #fff;
}

.news-card img {
  width: 100%;
  display: block;
}

.news-tag {
  display: inline-block;
  background: #f9a826;
  padding: 6px 14px;
  margin-top: -18px;
  position: relative;
  font-weight: 600;
}

.latest-news-item {
  cursor:grab; /* hand cursor on hover */
}
